<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cronus.zdone"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- add below permission for local dev server -->
    <!-- android:usesCleartextTraffic="true" -->
    <application
        android:name=".ZdoneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/zdone_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/zdone_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>